.card{
    display: flex;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 1500px;
    background-color: white;
    width: 100%;
}



.cardContent{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* width 100% makes it take up as much space as possible (eventually restricted by max width of card*/
    width: 100%;
}


#mainLabel{
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    padding: 10px 0;

    width: 22rem;

    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 2rem;
}

.cardContent p{
    text-align: justify;
}

.card img{
    width: 450px;
    flex-shrink: 0;
    object-fit: cover;
}

@media (max-width: 850px) {
    .card{
        flex-direction: column;
        width: 100%;
    }

    .cardContent{
        order: 1;
        width: auto;
    }

    .card img{
        width: 100%;
        order: 2;
    }

    #mainLabel{
        /* Take fill width and add 2 rem on left/right side to account for card padding */
        width: calc(100% + 4rem);
    }
}