.card{
    display: flex;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 1500px;
    background-color: white;
    width: 100%;
}

.cardContent{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;
}


.cardContent h1{
    background-color: var(--accent-color);
    color: white;
    padding: 10px 0;
    width: 20rem;
    text-align: center;
    align-self: flex;
}

.cardContent p{
    padding: 3rem 2rem;
    text-align: justify;
    
}

.card img{
    width: 400px;
    object-fit: cover;
}


@media (max-width: 700px) {
    .card{
        flex-direction: column;
        width: 100%;
    }

    .cardContent{
        order: 1;
    }

    .card img{
        width: 100%;
        order: 2;
    }

    .cardContent h1{
        width: 100%;
    }
}