a{
    text-decoration: none;
    color: inherit;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    color: white;
    height: var(--toolbar-thickness);
    width: 100%;
}

.footer>*{
    padding: 0 2rem;
}

#headerImg{
    height: calc(0.5*var(--toolbar-thickness));
}

#desktopContact>a{
    text-decoration: underline;
}

#mobileContact{
    display: none
}

.footerIcon{
    height: 40px;
    width: 40px;
    vertical-align: bottom;
}

.leftItems{
    display: flex;
    align-items: center;
   
    gap: 1rem;
    /* background-color: orange; */
}

#copyright{
    text-align: right;
}


@media (max-width: 700px) {
    #desktopContact{
        display: none;
    }
    #footerLogo{
        display: none;
    }
    #mobileContact{
        display: flex;
        align-items: center;
    }
    .mobileToolbarIcons {
        font-size: 40px;
        vertical-align: bottom;
    }
    .footer>*{
        padding: 0 .5rem;
    }
}