a{
    text-decoration: none;
    color: inherit;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    color: white;
    height: var(--toolbar-thickness);
    width: 100%;
}

.footer>*{
    padding: 0 2rem;
}

.footer img{
    height: 2rem;
}

#desktopContact>a{
    text-decoration: underline;
}

#mobileContact{
    display: none
}


@media (max-width: 700px) {
    #desktopContact{
        display: none;
    }
    #mobileContact{
        font-size: 3rem;
        margin-bottom: 8px;
        display: inline;
    }
    #footerLogo{
        display: none;
    }
}