.autoCompleteList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.autoCompleteList li {
    border: 1px solid #ccc;
    padding: 5px;
    background: ghostwhite;
    cursor: pointer;
    margin-bottom: -1px;
}

.autoCompleteList li:hover {
    background: rgb(180, 220, 240);
}

