.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../assets/cover.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: var(--toolbar-thickness);
}

.imageContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

.bookBtn{
    margin: auto;
    composes: actionButton from global;
}

/* Required to allow images to shrink in imageContainer */
img {
    min-width: 0;
}



@media (max-width: 850px) {

    .heroImage {
        height: 300px;
    }
    .imageContainer {
        flex-direction: column;
    }

    /* This is required since content adds margin to account for Navbar. On home page, navbar has already been accounted for */
    #firstCard {
        margin-top: calc(0.5*var(--toolbar-thickness));
    }
}