.heroImage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),  url('../../assets/cover.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 1200px) {
    .heroImage{
        height: 500px;
    }

    .main{
        padding: 0;
        gap: 1rem;
    }
}