.invertedContent{
    display: flex;
    gap: 15rem;
    width: 100%;
    max-width: 1500px;
}

#registerCard{
    display: flex;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    flex-grow: 1;
}

#whyRegisterUl{
    font-size: 1.25rem;
}

#whyRegisterUl li{
    padding: .75rem;
}

#registerBtnContainer{
    display: flex;
    justify-content: flex-end;
}

.registerBtn{
    margin-right: 2rem;
    composes: actionButton from global;
}


#loginCard{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 4rem;
}

#loginCard h1{
    padding-top: 4rem;
    text-align: center;
}

#loginCard form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 20rem;
}

#loginCard input {
    font-size: 1.1rem;
    padding: 1rem .5rem;
}

#logInBtn{
    background-color: var(--accent-color);
    border-radius: .5rem;
    color: white;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    border: none;
}

#logInBtn:hover{
    cursor: pointer;
}

#scrollBtn{
    display: none;
    margin-bottom: 1rem;
}

@media (max-width: 1100px) {
    .invertedContent{
        gap: 5rem;
    }
    #loginCard form{
        width: auto;
    }
    #loginCard{
        padding: 0 2rem;
    }
    #registerBtnContainer{
        justify-content: center;
    }
    .registerBtn{
        margin-right: 0;
    }
}

@media (max-width: 850px) {
    .invertedContent{
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }
    #loginCard{
        order: 1
    }
    #registerCard{
        order: 2
    }

    #logInBtn{
        margin: 0;
    }
    #scrollBtn{
        display: block;
    }

    #loginCard{
        gap: 2rem;
    }
    
    #loginCard h1{
        padding-top: 2rem;
    }
}