.rulesCard ul{
    padding: 0 4rem;
}

h3{
    margin-top: 1.25rem;
    margin-bottom: .5rem;
    padding-left: 2rem;
}

@media (max-width: 850px) {
    .rulesCard ul{
        padding: 0 2rem;
    }
}
