.content {
    composes: content from global;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.inverted img{
    width: 100%;
}

.shopCard{ 
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .content{
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }

    .shopCard{ 
        width: 350px;
    }
}

