#datesUl{
    font-size: 1.5rem;
    columns: 2;
    margin-bottom: 3rem;
    list-style: none;
}

#datesUl li{
    margin-bottom: 10px;
}

.dateEntry{
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
}

.bookBtn{
    margin: auto;
    composes: actionButton from global;
}

#layout{
    font-style: italic;
    color: rgb(80, 80, 80);
    text-align: right;
}

#scheduleText{
    font-size: 1.25rem;
}

table{
    font-size: 1.25rem;
    margin: 1rem 2rem;
    border-spacing: 0;
}


tr{
    background-color: whitesmoke;
}
tr:nth-child(odd){
    background-color: lightgray;
}

td{
    padding: .5rem;
}

#pricingCard{
    padding: 1rem 3rem;
}

.priceEntry{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

@media (max-width: 1400px) {
    #datesUl{
        columns: 1;
    }
    .priceEntry{
        font-size: 1.25rem;
    }
    .dateEntry{
        margin-right: 1rem;
    }
}