.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;

}

.content form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
}

.content form select {
    font-size: inherit;
    min-width: 300px;
}

.inputPairing {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#paid,
#unpaid {
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

#paid {
    background-color: greenyellow;
}

#unpaid {
    color: white;
    background-color: red;
}

.content button {
    background-color: black;
    font-weight: bold;
    color: white;
    border: none;
    font-size: inherit;
    border-radius: .2rem;
    padding: .5rem .75rem;
    min-width: 180px;
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
}

@media (max-width: 850px) {
    .inputPairing {
        flex-direction: column;
    }

    .content form select {
        font-size: inherit;
        min-width: 220px;
    }

}