.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
}

.content form {
    display: flex;
    flex-direction: column;
}

.inputPairing {
    display: flex;
    align-items: center;
    font-size: inherit;
    gap: .5rem;
}

.inputPairing select {
    min-width: 100px;
}


form label {
    white-space: wrap;
}

.tdEntry {
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    gap: 1rem;
}


.tdControls {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.tdControls button {
    font-size: inherit;
    padding: .5rem 1rem;
}

.confirmBtn {
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
}


.tdEntry:nth-child(odd) {
    background-color: lightgray;
}

.createButton {
    composes: actionButton from global;
    margin: auto;
    background-color: var(--accent-color);
}


@media (max-width: 1000px) {
    .content h1 {
        text-align: center;
    }

    .tdEntry {
        flex-direction: column;
    }







}