.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
}

.allBikes {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0;
    border-bottom: dashed 1px black;
}

.bikeEntry {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
}

.content button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: .2rem;
    padding: .5rem .75rem;
    min-width: 180px;
}


.content form {
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    margin: auto;
}


#addBikeModal label{
    min-width: 100px;
    text-align: left;
}

.confirmBtn {
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .bikeEntry {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .content form {
        flex-direction: column;
        gap: 0;
    }

    .content form input {
        width: 180px;
    }

    .content h1 {
        text-align: center;
    }

    form .confirmBtn {
        margin-top: 2rem;
    }

}

@media (max-width: 450px) {
    .content button {
        font-size: 1rem;
        min-width: 100px;
    }
}