.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content h1 {
    display: flex;
    gap: .5rem;
}

.content h1 select {
    font-size: inherit;
    border: none;
}

.tdEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: .75rem .25rem;
    gap: 1rem;
}

.tdEntry:nth-child(odd) {
    background-color: lightgray;
}

.tdControls {
    display: flex;
    gap: 1rem;
}

.editBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    

    border: none;
    background-color: black;
    border-radius: 25%;
    padding: 8px;
    color: white;
}

.createButton {
    composes: actionButton from global;
    margin: auto;
    background-color: var(--accent-color);
}

/* MODAL STYLING */


.content form {
    display: flex;
    flex-direction: column;
}

.inputPairing {
    display: flex;
    align-items: center;
    font-size: inherit;
    gap: .5rem;
}

.inputPairing select {
    min-width: 100px;
}


.confirmBtn {
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
}







@media (max-width: 750px) {
    .content h1 {
        text-align: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }

    .content h1 select {
        text-align: center;
    }

    .tdEntry {
        flex-direction: column;
    }

}