.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2{
    display: flex;
    gap: 1em;
}

.productEntry{
    width: fit-content;
    min-width: 300px;
}


.productHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 1em 0em;
}

.buttonContainer{
    display: flex;
    gap: .5rem;
}

.checkboxGroup {
    display: flex;
    justify-content: space-between;
}



.editBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    border-radius: 25%;
    padding: 4px;
    color: white;
}

.createButton {
    composes: actionButton from global;
    margin: auto;
    background-color: var(--accent-color);
}

/* MODAL STYLING */
.createProductForm {
    font-size: 1rem;
    /* INHERITED FROM MODAL */
}

.createVariant{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputPairing {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.createVariant input{
    max-width: 50px;
}


.createVariant>button{
   width: fit-content;
}


@media (max-width: 750px) {
    .content h1 {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1500px) {

    .createVariant{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        width: 100%;

        padding-bottom: 10px;
        border-bottom: dashed 1px black;
    }

    .inputPairing {
        width: 100%;
        justify-content: space-between;
    }

    .createVariant .inputPairing select{
        width: fit-content;
    }

    .createVariant button{
        margin: auto;
    }


}