.content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 50px;

}

.content button {
    margin: auto;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 


    background-color: transparent;
    border: none;

   
  

}

