.content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    row-gap: 50px;
}

.content button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: inherit;
    background-color: transparent;
    border: none;
}



@media (max-width: 850px) {
    .content {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}