.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
}

.content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputPairing {
    display: flex;
    align-items: center;
    font-size: inherit;
    gap: .5rem;
}

.inputPairing select {
    min-width: 360px;
}


.dateAndPayment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 1rem 0;
}

.dateAndPayment select {
    font-size: inherit;
    text-align: center;
}

form label {
    white-space: wrap;
}

.guests {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.guests .inputPairing {
    gap: 1rem;
}

.guests input {
    width: 2rem;
    text-align: center;
    font-size: inherit;
}


.guestControl {
    display: flex;
    gap: 2rem;
}

.guestControl button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#guestsBtn {
    color: white;
    background-color: red;
    min-width: 0;
    padding: 0;
    border-radius: 50%;
    height: 45px;
    width: 45px;

}


/* CHECKBOXES */

.checkboxes {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    white-space: nowrap;
    gap: 1rem;
}

.checkboxPairing {
    display: flex;
    align-items: center;
    font-size: inherit;
    gap: .5rem;
}


.checkboxes input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}


#registerBtn {
    margin-top: 2rem;
    align-self: center;
    font-size: 2rem;
    padding: .5rem 5rem;
}


.content button {
    background-color: black;
    color: white;
    border: none;
    font-size: inherit;
    border-radius: .2rem;
    padding: .5rem 1rem;
    min-width: 150px;
}

.confirmBtn {
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
}


/* My Trackdays */
.tdEntry {
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr auto;
    /* justify-items: right; */
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    gap: 1rem;
}

.tdControls:last-child {
    justify-self: right;
}

.tdControls {
    display: flex;
    gap: 1rem;
}

.tdControls form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.tdEntry:nth-child(odd) {
    background-color: rgb(230, 230, 230);
}


.paymentElement{
    width: 100%;
}

@media (max-width: 1400px) {
    .dateAndPayment {
        flex-direction: column;
        gap: 2rem;
    }

    .inputPairing {
        flex-direction: column;
        align-items: center;
    }


    .dateAndPayment input,
    .dateAndPayment select {
        font-size: 1rem;
        text-align: center;
        width: 15rem;
    }

    .content h1 {
        text-align: center;
    }
}



/* My Trackdays */

@media (max-width: 950px) {
    .tdEntry {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .tdControls:last-child {
        justify-self: center;
    }

    .tdControls form {
        flex-direction: column;
    }

    .inputPairing select {
        min-width: 280px;
    }


}

@media (max-width: 600px) {
    
    .tdControls {
        flex-direction: column;
    }


}