.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
}

.allBikes {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0;
    border-bottom: dashed 1px black;
}

.bikeEntry {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
}

.bikeControls {
    display: flex;
    gap: 2rem;
}

.content button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: .2rem;
    padding: .5rem .75rem;
    min-width: 180px;
}


.content form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.5rem;
}


/* Year field to be short */
.inputPairing:first-child {
    width: 24rem;
}

.content form input {
    font-size: inherit;
    width: 100%;
}

.inputPairing {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.confirmBtn {
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .allBikes {
        align-items: center;
    }

    .bikeEntry {
        flex-direction: column;
        gap: .5rem;
    }

    .content form {
        flex-direction: column;
    }

    /* RESET Year field to be short */
    .inputPairing:first-child {
        width: auto;
    }

    .inputPairing {
        width: 100%;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .content form input {
        width: 180px;
    }

    .content h1 {
        text-align: center;
    }

}

@media (max-width: 400px) {
    .content button {
        font-size: 1rem;

        min-width: 100px;
    }
}