.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
}

.inputSection:last-child{
    border-bottom: none;
}

.inputSection {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-bottom: 30px;
    border-bottom: dashed 1px black;
}

.inputPairing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.inputPairing input{
    min-width: 300px;
    font-size: inherit;
}

.inputPairing select{
    min-width: 308px;
    font-size: inherit;
}

#groupContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmContainer{
    display: flex;
    gap: 1rem;
}

.confirmContainer select{
    min-width: 100px;
}

.content button {
    background-color: black;
    color: white;
    border: none;
    font-size: inherit;
    border-radius: .2rem;
    padding: .2rem 1rem;
    min-width: 120px;
}

.confirmBtn{
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
}

.btnContainer{
    grid-column: span 2;
    margin: auto;
}

#changePswBtn{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    .inputSection {
        grid-template-columns: 1fr;
    }

    .inputPairing {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .inputPairing input{
        min-width: 200px;
        width: 100%;
    }

    .inputPairing select{
        min-width: 208px;
        width: calc(100% + 8px);
    }

    .btnContainer{
        grid-column: span 1;
        margin: auto;
    }
  

    .confirmContainer{
        flex-direction: column;
        gap: .5rem;
    }


    #groupContainer{
        align-items: flex-start;
    }
    #groupContainer div{
        margin-top: 3px;
    }
    #changePswBtn{

        justify-content: center;
    }

    .content h1{
        text-align: center;
    }

  
    
  

}