.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.allBikes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 30px;
    border-bottom: dashed 1px black;
}

.bikeEntry{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.bikeControls{
    display: flex;
    gap: 1rem;
}

.content button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: .2rem;
    padding: .2rem 1rem;
}




#addBikeForm{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.5rem;
}

#formFields{
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    flex-grow: 1;
}

.inputPairing:first-child{
    width: 24rem;
}

#addBikeForm input{
    font-size: inherit;
    width: 100%;
}

.inputPairing {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}



.confirmBtn{
    background-color: var(--accent-color) !important;
    font-weight: bold !important;
    white-space: nowrap;
}

@media (max-width: 850px) {

    .allBikes{
        gap: 3rem;
    }

    .bikeEntry{
        flex-direction: column;
        gap: .5rem;
        font-size: 1rem;
    }

    #addBikeForm{
        font-size: 1rem;
        flex-direction: column;
    }

    #formFields{
        font-size: 1rem;
        flex-direction: column;
    }
    

    .inputPairing:first-child{
        width: auto;
    }

}