:root{
    --dark-gray: #212121;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-gray);
    color: white;
    font-size: 1.25rem;
    padding-left: 2rem; 
    padding-right: 2rem; 
}

.navbar-main{
    display: flex;
}

.navbar-mobile{
    display: none;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-main>a{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar-dashboard{
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}



#headerImg{
    margin-top: 3px;
    height: 2rem;
}

#helmetImg{
    margin-top: 3px;
    height: 2rem;
}

.active {
    background-color: black;
    font-weight: bold;
}

.menu-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px
}

.menu-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.menu-button-links{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-button-links>a{
    margin: .5rem 0;
}

.navbar-main>a:hover, .navbar-dashboard:hover{
    background-color: black;
}


@media (max-width: 700px) {
    .navbar{
        flex-direction: column;
        padding-left: .5rem; 
        padding-right: .5rem; 
    }
    .navbar-main{
        display: none;
    }
    .navbar-dashboard{
        display: none;
    }
    .navbar-mobile{
        display: flex;
    }

}