body {
    background-color: ghostwhite;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    /*navbar technically takes up no space due to position being fixed */
    margin-top: calc(2*var(--toolbar-thickness));
    margin-bottom: var(--toolbar-thickness);
    /* Subtract the height of the header and footer and the padding*/
    min-height: calc(100vh - 4* var(--toolbar-thickness) - 2rem - 2rem  );

    padding: 2rem;
}



.actionButton {
    background-color: black;
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}

.active {
    background-color: black;
    font-weight: bolder;
}

/* Should be applied to the ul representing error messages */
.errorText {
    color: red;
    line-height: 2rem;
    font-weight: bold;
}

@media (max-width: 850px) {
    .content {
        margin-top: calc(1.5*var(--toolbar-thickness));
        margin-bottom: calc(1.5*var(--toolbar-thickness));

        padding: 0px;
        gap: 2rem;
    }
}