body{
    background-color: ghostwhite;
}

.main{
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    /* margin-top is required here since navbar technicallly takes up no space due to position being fixed */
    margin-top: var(--toolbar-thickness);
    min-height: calc(100vh - 2 * var(--toolbar-thickness));
}



.actionButton{
    background-color: black;
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.active {
	background-color: black;
	font-weight: bolder;
}